:root {
    --color-primary: cornflowerblue;
    --color-background: rgb(204, 204, 204);
    --color-foreground: rgb(31, 31, 31);
    --color-dark: black;
    --color-light: white;
    --color-md-dark: rgb(26, 26, 26);
    --color-md-light: rgb(235, 235, 235);
    --color-info: blue;
    --color-success: rgb(81, 255, 81);
    --color-danger: red;
    --color-callout: orange;
    --color-lightest: white;

    --color-nav-foreground: white;
    --color-nav-background: cornflowerblue;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 0;
}

/* typography */
h1 { font-size: 2.25rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: var(--color-primary);
}

button {
    --button-color: var(--color-light);
    --button-bg: var(--color-primary);

    padding: .5rem .8rem;
    font-size: 1rem;
    border: none;
    background-color: var(--button-bg);
    color: var(--button-color);
    margin: 0;
}
button.info { --button-bg:var(--color-info) }
button.success { --button-bg:var(--color-success) }
button.danger { --button-bg:var(--color-danger) }
button.callout { --button-bg:var(--color-callout) }

input[type='button'] {
    padding: .5rem .8rem;
    font-size: 1rem;
    border: none;
    background-color: var(--button-bg);
    color: var(--button-color);
    margin: 0;
}
input[type='button'].info { --button-bg:var(--color-info) }
input[type='button'].success { --button-bg:var(--color-success) }
input[type='button'].danger { --button-bg:var(--color-danger) }
input[type='button'].callout { --button-bg:var(--color-callout) }

/* form styles */
form {
    display: flex;
    flex-direction: column;
}
label {
    display: flex;
    flex-direction: column;
}
input, textarea {
    border: 2px solid var(--color-foreground);
    font-size: .8rem;
    padding: .4rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

/* navbar styles */
.navbar>*>* {
    display: flex;
    flex-direction: row;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-nav-background);
}
.navbar ul{ list-style: none; }
.navbar li { margin-right: .5rem; }
.navbar>* {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: .5rem;
}
.navbar:nth-child(1) { align-items: center; }
.navbar a {
    text-decoration: none;
    color: var(--color-nav-foreground);
}
.navbar a:hover {
    color: var(--color-callout);
    text-decoration: underline;
}
/* Card Styles */
.card {
    display: flex;
    flex-direction: column;
    max-width: min-content;
    height: auto;
    border: solid 1px var(--color-foreground);
}
.card p {
    margin: 0;
    padding: 1rem;
    background-color: var(--color-foreground);
    color: var(--color-background);
}

/* footer style */
.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-background);
    margin-top: 1rem;
    padding: 2rem 0;
}
.page-footer ul {
    list-style: none;
}
.page-footer h1, .page-footer h2, .page-footer h3, .page-footer h4, .page-footer h5, .page-footer h6 {
    color: var(--color-info);
}
.page-footer>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 1rem;
}
.page-footer a {
    color: var(--color-primary);
}
.page-footer a:hover {
    color: var(--color-callout);
    text-decoration: underline;
}