:root {
    --color-primary: cornflowerblue;
    --color-background: rgb(204, 204, 204);
    --color-foreground: rgb(31, 31, 31);
    --color-dark: black;
    --color-light: white;
    --color-md-dark: rgb(26, 26, 26);
    --color-md-light: rgb(235, 235, 235);
    --color-info: rgb(87, 87, 255);
    --color-success: rgb(113, 255, 113);
    --color-danger: rgb(255, 109, 109);
    --color-callout: orange;
    --color-lightest: white;

    --color-nav-foreground: white;
    --color-nav-background: cornflowerblue;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0;
    max-width: 100vw;
    line-height: 1.5;
}

/* typography */
h1 { font-size: 2.25rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: var(--color-primary);
}

button, input[type=button], input[type=submit] {
    --button-color: var(--color-light);
    --button-bg: var(--color-primary);

    padding: .5rem .8rem;
    font-size: 1rem;
    border: var(--button-bg) solid 2px;
    background-color: var(--button-bg);
    color: var(--button-color);
    margin: 0;
    transition: 200ms;
}
button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: var(--button-color);
    color: var(--button-bg);
}
button.info, input[type=button].info, input[type=submit].info { --button-bg:var(--color-info) }
button.success, input[type=button].success, input[type=submit].success { --button-bg:var(--color-success) }
button.danger, input[type=button].danger, input[type=submit].danger { --button-bg:var(--color-danger) }
button.callout, input[type=button].callout, input[type=submit].callout { --button-bg:var(--color-callout) }

/* form styles */
form {
    display: flex;
    flex-direction: column;
}
form label {
    display: flex;
    flex-direction: row;
}
form label span {
    padding-right: .3rem;
}
input, textarea {
    border: 2px solid var(--color-foreground);
    font-size: .8rem;
    padding: .4rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}
input[type=text], input[type=tel], input[type=search], input[type=password], input[type=number], input[type=email], textarea{
    width: 100%;
}
input[type=submit], button[type=submit] {
    align-self: flex-end;
  }
  
/* radio checkboxes */
/* .radio>*, .checkbox>* {
    display: flex;
    flex-direction: row;
    align-items: center;
} */
/* custom checkbox */
div.checkbox {
    display: flex;
    align-items: center;
}
input[class=checkbox] {
    display: none;
}
input[type=checkbox]+label.checkbox{
    width: 15px;
    height: 15px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: var(--color-primary) 2px solid;
    border-radius: 20%;
    position: relative;
    transition: 200ms;
}
input[type=checkbox]+label.checkbox::before {
    content: '';
    display: block;
    position: absolute;
    width: 13;
    height: 13;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20%;
    left: 1px;
    top: 1px;
    transition: 200ms;
}
input[type=checkbox]:checked+label.checkbox::before {
    background-color: var(--color-primary);
}
/* custom radio */
div.radio {
    display: flex;
    align-items: center;
}
input[class=radio] {
    display: none;
}
input[type=radio]+label.radio{
    width: 15px;
    height: 15px;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: var(--color-primary) 2px solid;
    border-radius: 50%;
    position: relative;
    transition: 200ms;
}
input[type=radio]+label.radio::before {
    content: '';
    display: block;
    position: absolute;
    width: 13;
    height: 13;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    left: 1px;
    top: 1px;
    transition: 200ms;
}
input[type=radio]:checked+label.radio::before {
    background-color: var(--color-primary);
}
/* custom switch */
div.switch {
    display: flex;
    align-items: center;
}
input[class=switch] {
    display: none;
}
input[type=checkbox]+label.switch{
    width: 50px;
    height: 30px;
    display: block;
    background-color: #ddd;
    border-radius: 30px;
    position: relative;
    transition: 200ms;
}
input[type=checkbox]+label.switch::before {
    content: '';
    display: block;
    position: absolute;
    width: 26;
    height: 26;
    border-radius: 50%;
    background-color: white;
    left: 2px;
    top: 2px;
    transition: 200ms;
}
input[type=checkbox]:checked+label.switch::before {
    left: 22;
}
input[type=checkbox]:checked+label.switch {
    background-color: var(--color-primary);
}

/* navbar styles */
.navbar>*>* {
    display: flex;
    flex-direction: row;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-nav-background);
}
.navbar ul{ list-style: none; }
.navbar li { margin-right: .5rem; }
.navbar>* {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: .5rem;
}
.navbar:nth-child(1) { align-items: center; }
.navbar a {
    text-decoration: none;
    color: var(--color-nav-foreground);
    transition: 150ms;
}
.navbar a:hover {
    color: var(--color-dark);
    text-decoration: underline;
}
/* Card Styles */
.card {
    display: flex;
    flex-direction: column;
    max-width: min-content;
    height: auto;
    border: solid 1px var(--color-foreground);
    box-shadow: 2px 2px 8px var(--color-dark);
}
.card p {
    margin: 0;
    padding: 1rem;
    background-color: var(--color-foreground);
    color: var(--color-background);
}

/* footer style */
.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-background);
    margin-top: 1rem;
    padding: 2rem 0;
}
.page-footer ul {
    list-style: none;
}
.page-footer h1, .page-footer h2, .page-footer h3, .page-footer h4, .page-footer h5, .page-footer h6 {
    color: var(--color-info);
}
.page-footer>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 1rem;
}
.page-footer a {
    color: var(--color-primary);
    transition: 150ms;
}
.page-footer a:hover {
    color: var(--color-dark);
    text-decoration: underline;
}